.create-variant-modal {
  width: 720px;

  max-width: 100%;

  max-height: 95vh;

  overflow-y: auto;

  background: #fff;

  border-radius: 30px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.12);

  scrollbar-width: none;
}

.create-variant-modal::-webkit-scrollbar {
  display: none;
}

/* COLOR */

.variant-color-grid {
  align-items: end;
}

.color-input-wrapper {
  display: flex;

  gap: 12px;
}

.color-preview {
  width: 54px;

  height: 54px;

  border-radius: 14px;

  background: #2f2f2f;

  border: 1px solid #ddd;
}

/* STATUS */

.variant-status-card {
  border: 1px solid #ece4dd;

  border-radius: 20px;

  padding: 24px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  margin-top: 10px;
}

.variant-status-card h4 {
  font-size: 22px;

  color: #2f1d14;

  margin-bottom: 8px;
}

.variant-status-card p {
  color: #756963;

  line-height: 1.6;
}

/* BUTTON */

.submit-btn {
  display: flex;

  align-items: center;

  justify-content: center;

  gap: 10px;
}
